* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  #main-title {
    text-align: center;
    color: #fff;
    background-color: #333;
    padding: 20px;
    font-weight: 500;
  }
  
  .form-container {
    margin: 20px;
  }
  
  .subtituloFormBuscador {
    margin-left: 15px;
  }
  